html {
    border-left: 5px solid slategray;
    /* font-family:"Poiret One"; */
    font-family: "Quicksand";
    font-size: 24px;
}

body {
    min-height: 100vh;
    /* font-family: sans-serif; */
    max-width: 1000px;
    margin: auto;
    border-left: 0.5rem solid lightgray;
}

header, main, footer {
    padding: 1rem 2rem;
}

h1 {
    color: tomato;
}

h4 {
    color: gray;
    margin-bottom: -20px;
    font-size: 1.3rem;
}

img {
    width: 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul a {
    color: darkgray;
}

footer nav ul a {
    color: tomato;
    text-decoration: none;
}

article p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

article h3 {
    font-size: 1.5rem;
}

p a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
}

/* text should wrap starting at the top of the first letter */

article p:first-letter {
    float: left;
    font-size: 4rem;
    font-weight: 600;
    color: darkgray;
    display: absolute;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px 10px 0px  0px;
}

/* article p:first-letter {
    font-size: 3rem;
    color: darkgray;
    display: absolute-block;
} */

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid darkgray;
    padding-bottom: 2rem;
}

.continues {
    display: block;
    text-align: right;
    font-weight: bold;
    color: tomato;
}

footer p {
    color: darkgray;
}